body {
  background-color:#87CEFA;
  font-family:sans-serif;
}
p {
 font-size:25px;
}
h2 {
  font-size:30px;
  text-align:center;
}
h1 {
text-align:center;
}
td {
  border:  solid black;
}
.red_tr {
 color: red;
}
table {
border: solid black;
border-collapse: collapse;
}
